ConsoleApplication2/bin/Release/ConsultationResultEditedXml.docx
ConsoleApplication2/bin/Release/ConsultationResultEditedDocX.docx
ConsoleApplication2/bin/Debug/ConsultationResultEditedXml.docx
ConsoleApplication2/bin/Debug/ConsultationResultEditedDocX.docx
